.cyan {
    color: rgb(9, 114, 114) !important;
}

h1 {
    color: rgb(9, 114, 114) !important;
}
h2 {
    color: rgb(9, 114, 114) !important;
}
h3 {
    color: rgb(9, 114, 114) !important;
}

.red {
    color: red;
}
.blue {
    color: rgb(17, 177, 226);
}
.green {
    color: rgb(61, 251, 4);
}
.purple {
    color: rgb(169, 34, 169);
}

.dot:before {
    content: ".";
}

.at:before {
    content: "@";
    color: rgb(9, 114, 114);
}

.icon {
    margin-top: -2px;
    cursor: pointer;
}
.icon:hover {
    color: rgb(9, 114, 114);
}

ul[class^="ul-"] > li {
    margin-bottom: 14px;
}
